$line-spacing: 0.6em;

#content-flex {
    display: flex;
    align-items: center;
    // position: relative;
    // bottom: 2%;
}

#filter-flex {
    display: flex;
    justify-content: space-evenly;
}

#team-info {
    text-align: center;
    font-size: 2em;
    padding: 1%;
    border-radius: 10%;
    width: 22%;
    margin: 0 6%;
}

#team-info select {
    margin-top: $line-spacing;
}

#team-info p {
    margin: $line-spacing 0;
}

#rating-stats {
    margin: auto;
    width: fit-content;
}

.statbox {
    display: flex;
    justify-content: space-between;
    margin: $line-spacing 0;
}

#championship {
    color: #FFC72C;
}