#header {
    h1 {
        text-align: center;
        font-size: 4em;
        padding: 1%;
        border-bottom: 2px solid;
    }

    svg {
        position: fixed;
        top: 3%;
        right: 2%;
        width: 3em;
        cursor: pointer;
    }
    
    #filters {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0.6em 0;
    }

    .select-div { padding-right: 1.5em; }

    .select-div::after {
        top: 38%;
        font-size: 0.9em;
    }

    #min-games-div {
        p {
            font-size: 1.5em;
            pointer-events: none;
        }

        span {
            pointer-events: none;
            font-size: 1.25em;
        }
        
        #slider-div {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        input {
            width: 85%;
            margin: 4% 5%;
            margin-left: 0;
            appearance: none;
            background-color: transparent;
            --slider-color: #E5E4E2;
        }

        input::-webkit-slider-thumb {
            appearance: none;
            height: 1.25em;
            width: 1.25em;
            border-radius: 100%;
            margin-top: -0.5em;
            background-color: #E5E4E2;
            background-color: var(--slider-color);
        }

        input::-webkit-slider-thumb:hover { filter: invert(20%); }

        input::-webkit-slider-runnable-track {
            width: 100%;
            height: 0.25em;
            background-color: #E5E4E2;
            background-color: var(--slider-color);
            border-radius: 2px;
          }
    }

    #about {
        font-size: 2em;
        cursor: default;
    }
}