select {
    appearance: none;
    border: none;
    text-align: center;
    background: none;
    font-size: 2em;
    &:focus { 
        outline: none !important;
    }
}

.select-div {
    position: relative;
    width: fit-content;
    margin: auto;
}

.select-div::after {
    content: '\25BC';
    position: absolute;
    top: 55%;
    right: 0;
    pointer-events: none;
}