select {
    border: none;
    text-align: center;
    background: none;
    font-size: 2em;
    &:focus { 
        outline: none !important;
    }
}

.flex-select {
    font-size: 1em;
    display: block;
    margin: auto;
}

#team-select {
    text-decoration: underline;
    font-weight: bold;
}

#min-games-div * {
    display: inline;
    font-size: 2em;
}