@import './styles/reset.scss';
@import './styles/hover.scss';
@import './styles/select.scss';
@import './styles/infobox.scss';
@import './styles/header.scss';

.display-none { display: none; }

.no-interaction { pointer-events: none; }

image { opacity: 0; }

#reference {
    position: fixed;
    bottom: 10px;
    left: 10px;
}

body {
    background-color: #E5E4E2;
    * { font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }
    font-size: 16px;
}

#content-flex {
    display: flex;
    align-items: center;
    position: relative;
}